body{
    background: aliceblue;
}
.choose{
    color: white;
    background-color: green;
    border-radius: 5px;
    height: 20%;
    width: 10%;
}
.choose:hover{
    background-color: green, white, green;
    cursor: pointer;
}