body{
    background: aliceblue;

}
.face{
     position: absolute;
   top: 40px;
    width: 100px;
    height: 100px;
    margin-left: 10%;
    margin-top: 3%;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 40px green;
    display: flex;
    z-index: 1;
    align-items: center;
    flex-direction: column;
    padding: 40px;
  
    background-color: white;
}
.face:hover{
    width: 110px;
    height: 110px;
    cursor: pointer;
}
.tg{
     position: absolute;
   top: 40px;
    width: 100px;
    height: 100px;
    margin-left: 25%;
    margin-top: 3%;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 40px green;
    display: flex;
    z-index: 1;
    align-items: center;
    flex-direction: column;
    padding: 40px;
  
    background-color: white;
}
.tg:hover{
    width: 110px;
    height: 110px;
    cursor: pointer;
}
.insta{
     position: absolute;
   top: 40px;
    width: 100px;
    height: 100px;

    margin-left: 40%;
    margin-top: 3%;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 40px green;
    display: flex;
    z-index: 1;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: white;
}
.insta:hover{
    width: 110px;
    height: 110px;
    cursor: pointer;
}

.you{
     position: absolute;
   top: 40px;
    width: 100px;
    height: 100px;

    margin-left: 55%;
    margin-top: 3%;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 40px green;
    display: flex;
    z-index: 1;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: white;
}
.you:hover{
    width: 110px;
    height: 110px;
    cursor: pointer;
}
.tiw{
     position: absolute;
   top: 40px;
    width: 100px;
    height: 100px;

    margin-left: 70%;
    margin-top: 3%;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 40px green;
    display: flex;
    z-index: 1;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: white;
}
.tiw:hover{
    width: 110px;
    height: 110px;
    cursor: pointer;
}
.btn{
    width: 7%;
    height: 37px;
    margin-top: 10%;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    border: none;
}
.btn:hover{
    width: 8%;
    height: 40px;
   background: linear-gradient(green, aliceblue, green);
}
.pic{
    width: 100px;
    height: 100px;
}