body{
    
    background-color: aliceblue;
}
.head{
    background-color: green; 
    color: white; 
    font-weight: lighter;
    text-align: center;
    font-size: xx-large;
    border-radius: 5px;
}
.wrapper{
    margin-left: 30%;
    position: relative;
    width: 600px;
    height: 850px;
    border: 4px solid (rgb(112, 112, 238), rgb(245, 183, 243), rgb(99, 250, 99),);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(4, 16, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
    top: 50px;
    z-index: 100;
    background-color: rgb(222, 232, 220);
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.page{
    margin-left: 35%;   
}
.btn{
    width: 80%;
    height: 35px;
    background: green;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    align-items: center;
    margin-left: 2%;
    
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
    .btn:hover{
        width: 120px;
        background: linear-gradient(green, white, green);
    }
.btn{
    width: 100px;
    height: 40px;
    background: green;
    border: 2px solid green;
    margin-top: 5%;
    color: white;
    text-decoration: none;
    border: none;
}
.Inbox-box{
    position: relative;
    width: 100%;
    height: 40px;
    margin: 15px 0;
}

.space{
    color: green;
    font-size: large;
}
.form-control{
    color: green;
    border: none;
    font-size: large;
    
}
