body{
    background: aliceblue;
}

.navigation ::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: green;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;

    
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: green;
    text-decoration: none;
    font-weight: 500;
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 5%;
    font-size: larger;

    
}
.mehsashal{
    color: white(250, 213, 4);
    font-weight: 400px;
    cursor: pointer;

    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;

}

.mehsashal:hover{
    
    text-decoration: none;
    color: green;
    width: 400px;

     background-color:white;
}

.logo{
   height: 120px;
   width: 120px;
   user-select: none;
   border-radius: 70px;

   margin-left: 47%;
   cursor: pointer;

   
}
.logo:hover{
    height: 140px;
    width: 140px;
    transition: 2s;
     border-radius: 600px;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.bilihat{
   width: 20%;
    height: 35px;
    background: green;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 3%;
    font-size: larger;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
    background-color: 3s ease 0s;
}
/* rotate the object*/
.bilihat:hover{
    transform: rotate(360deg);
    background-color: rgb(240, 142, 6);
    scale: 1.5;
    color: black;

}
.upper{
    border-radius: 20px;
    
}
.find{
    width: 100px;
    height: 40px;
    background: green;
 
    font-size: 15px;
    color: white;
    text-decoration: none;
    border-radius: 9px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
    
}

.find:hover{
     background: linear-gradient(green,white,green)/*linear-gradient(45deg,#ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #ff00c8, #ff0000)*/;
    text-decoration: none;
    width: 120px;
}
.pic{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 5%;
    align-items: center;
}
.pic:hover{
    width: 120px;
    height: 120px;
    cursor: pointer;
    border-radius: 500px;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    
}
.srch{
    font-family: 'Times New Roman';
    width: 120px;
    height: 40px;
    background: transparent;
    border: 1px solid green;
  
    color: green;
    font-size: 13px;
    float: left;
    border-radius: 9px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
   

     transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.register{
    
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: green;
    border-radius: 10%;
    font-size: larger;

}
.register:hover{
    background-color: green;
    color: green;
    cursor: pointer;
    
}
.page{

    margin-left: 35%;
    
}
.desc{
    color: green;
    margin-left: 3%;
    
}
.mar{
    color: white;
    font-size: larger;
    border-radius: 5px;
  
}