
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aliceblue /*url("file:///C:/Users/Eliyas/Desktop/html%20file/1744047728378.jpg") no-repeat*/;
    background-size: cover;
    background-position: center;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    display: flex;
    z-index: 99;
    margin-left: 5%;

}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: green;
    text-decoration: none;
    font-weight: 50;
    margin-left: 50px;
    align-items: center;
    margin-top: 150px;    
}
/*navigation underline property at cursor at that point*/
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: green;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
/* navigation of login border and word style*/
.navigation .btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid green;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: green;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
/* navigation of login hover style*/
.navigation .btnlogin-popup:hover{
    background: linear-gradient(green,white,green)/*linear-gradient(45deg,#ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #ff00c8, #ff0000)*/;
    color:black;
}
/*big box*/
.wrapper{
    position: relative;
    width: 600px;
    height: 750px;
    border: 4px solid (rgb(112, 112, 238), rgb(245, 183, 243), rgb(99, 250, 99),);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(4, 16, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 200px;
    z-index: 100;
    background-color: aliceblue;
}
.gender{
    color: green;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;

}
.wrapper .form-box Registration{
    position: absolute;
    transform: translateX(400px);
}
.wrapper .icon-closed{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: green;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box Login{
    font-size: 2em;
    color: green;
}
.Inbox-box{
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid green;
    margin: 30px 0;
}
.Inbox-box label{
position: absolute;
top: 50%;
left: 5px;
transform: translateY(-50);
font-size: 1em;
color: green;
font-weight: 500;
pointer-events: none;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50);
    font-size: 1em;
    color: green;
    font-weight: 500;
    pointer-events: none;
}
.Inbox-box input:focus~label,
.Inbox-box input:valid~label{
    top: -5px;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.Inbox-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: green;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: green;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.Inbox-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: green;
    line-height: 57px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: green;
    line-height: 57px;
}
.Remember-forget{
    font-size: 15px;
    color: green;
    font-weight: 500;
    margin: -10px 0 15px;
    display: flex;
    justify-content: space-between
}
.Remember-forget a{
    color: green;
    text-decoration: none;
}
.Remember-forget a:hover{
    text-decoration: underline;
    
}
.Remember-forget label input{
    accent-color: green;
    margin-right: 3px;
}
.btn{
    width: 100%;
    height: 35px;
    background: green;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    align-items: center;
    margin-left: 2%;
    

    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
    .btn:hover{
        width: 120px;
    }
.Login-register{
    font-size: .9em;
    color: green;
    font-weight: 500;
    margin: 25px 0 10px;
   
    justify-content: space-between;
    text-align: center;
}
.Login-register p a{
    text-decoration: none;
    color: green;
    font-weight: 600;
}
.Login-register p a:hover{
    text-decoration: underline;

}
.eliyas{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: 25px 0 10px;
    justify-content: space-between;
    text-align: unset;
}
.search{
    width: 100px;
    float: left;
    margin-left: 10px;
}
.btn{
    width: 150px;
    height: 40px;
    background: green;
    border: 2px solid green;
    margin-top: 5%;
    
    color: white;
   
    text-decoration: none;
}

.srch{
    font-family: 'Times New Roman';
    width: 120px;
    height: 40px;
    background: transparent;
    border: 1px solid green;
    margin-top: 2%;
    color: green;
    font-size: 13px;
    float: left;
    border-radius: 5px;
    padding: 10px;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 5%;
    margin-left: 4%;
   
}

.btn:hover{
     background: linear-gradient(green,white,green)/*linear-gradient(45deg,#ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #ff00c8, #ff0000)*/;
    color:black;
}

/*.click{
    margin-top: 5px;
    margin-left: 5px;
}
.click::before{
    background-image: conic-gradient(rgba(0,0,0,0),#7c97ff,rgba(0,0,0,0)25%);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
    z-index: -2;
    animation: glow 5s linear infinite;
}

@keyframes click{
    transform: translate(-50%, -50%) rotate(0deg);
}*/
.register{
    
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: green;
    border-radius: 10%;
    font-size: larger;

}
.register:hover{
    background-color: white;
    color: green;
    cursor: pointer;
    
}
.box{
    height: 10px;
    width: 100px;
    background-color: green;
    color: white;

    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.box:hover{
    width: 100px;
}

.src{
    width: 50px;
    height: 40px;
    background: green;
    border: 2px solid green;
    margin-left: 2%;
    margin-bottom: 2%;
    
    color: white;
   
    text-decoration: none;
}
.src{
    width: 120px;
    height: 40px;
    background: green;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    align-items: center;
    

    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
    .src:hover{
        width: 120px;
    }

.page{

    margin-left: 35%;
    
}
.err{
    color: red;
}